.gameArea {
    display: grid;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    border: 1px solid darkgray;
    padding: 10px;


    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: .5vw;
}

.cell {
    font-size: 1em;
    padding: .5em;
    text-align: center;
}

.emptyCell {
    cursor: pointer;
    background: gold;
}

.currentCell {
    cursor: not-allowed;
    background: greenyellow;
    font-weight: bold;
    justify-items: center;
}


.useCell {
    cursor: not-allowed;
    background: coral;
    font-weight: bold;
    justify-items: center;
}

.hintCell {
    cursor: pointer;
    background: red;
}
